@charset "UTF-8";
/* 1.0 - _Global - Effets des boutons */
.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/* 2.0 - _Index excluded - Barre de navigation verticale */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #160F66;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ee4323;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
/* 3.0 - Global - Retirer les bordures sur les containers */
body {
  margin: 0;
}

/* 4.0 - Global - Création du layout pour les container */
.container {
  display: flex;
}

.container div {
  flex: 1;
}

/* 5.0 - Global - Responsive pour tablette et smartphone */
@media (max-width: 966px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 474px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container .box_contents > img {
    max-width: 70%;
    max-height: 70%;
  }
  .container .box_contents {
    padding-bottom: 70%;
  }
}
@media (max-width: 368px) {
  .container .box_contents > img {
    max-width: 50%;
    max-height: 50%;
  }
  .container .box_contents {
    padding-bottom: 100%;
  }
}
/* 6.0 - Global - Couleur de chaque box */
.box-1 {
  background: #FFFFFF;
}

.box-2 {
  background: #ee4323;
}

.box-3 {
  background: #5b53a2;
}

.box-4 {
  background: #f6c343;
}

.box-5 {
  background: #160F66;
}

.box-6 {
  background: #FFFFFF;
}

/* 7.0 - Global - Style du texte */
.bold_txt {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.reg_txt {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* 8.0 - _Index - Position du logo */
#logo {
  padding-left: 9%;
  padding-top: 7%;
  padding-bottom: 5%;
  display: flex;
}

/* 9.0 - Global - Position du contenu des box */
.box_contents {
  padding-left: 10%;
  padding-bottom: 20%;
  transform: translateY(10%);
}

/* 10.0 - Global - Taille des images */
.box_contents > img {
  max-width: 75%;
  max-height: 75%;
}

/* 11.0 - _Index - Style du nav */
#navigation {
  list-style: none;
  text-decoration: none;
}

#navigation li a {
  text-decoration: none;
  color: #160F66;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.hyperlink_removed {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

/* 12.0 - _Index - Couleur du texte dans la 1ère box */
#menu {
  color: #f6c343;
}

#navigation li:hover a {
  color: #ee4323;
}

#title {
  color: #000;
}

/* 13.0 - Global - Couleur de chaque texte et positionnement */
/* 13.1 - _Index */
#vertical-google, #vertical-echo, #vertical-siri {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float: right;
  color: #FFFFFF;
}

#vertical-deep {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float: left;
  color: #f6c343;
}

#horizontal-deep {
  color: #FFFFFF;
}

#horizontal-echo {
  color: #ee4323;
}

#horizontal-siri, #horizontal-google {
  color: #f6c343;
}

/* 13.2 - _Hardware */
#vertical-microphone {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float: left;
  color: #f6c343;
}

#vertical-speaker {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float: right;
  color: #5b53a2;
}
