@mixin container {
  display: flex;
}

@mixin resp {
  display: flex;
  flex-direction: column;
  .box_contents>img{
    max-width:70%;
    max-height:70%;
  }
  .box_contents>h3{
    font-size: 15px;
  }
  .box_contents{
    padding-bottom: 70%;
  }
}

@mixin resp2 {
  display: flex;
  flex-direction: column;

}
