@mixin bold{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

@mixin reg{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

@mixin hyperlink{
  text-decoration: none;
  font-weight: bold;
}

@mixin nav{
  color: #160F66;
}

@mixin r_list{
  list-style: none;
  text-decoration: none;
}

@mixin vertical-left{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float: left;
}

@mixin vertical-right{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  float: right;
}

@mixin hyperlink_source{
  text-decoration: none;
}