@import "layout";
@import "pfont";
@import "button";
@import "slide_nav";
$color1: #FFFFFF;
$color2: #ee4323;
$color3: #5b53a2;
$color4: #f6c343;
$color5: #160F66;
$color6: #000;
$color7: #6121F5;

/* 3.0 - Global - Retirer les bordures sur les containers */
body{
  margin: 0;
}

/* 4.0 - Global - Création du layout pour les container */
.container{
  @include container
}
.container div{
  flex: 1;
}

/* 5.0 - Global - Responsive pour tablette et smartphone */
@media(max-width: 966px) {
  .container{
    @include resp
  }
}

@media(max-width: 474px) {
  .container{
    @include resp2
  }
}

@media(max-width: 368px) {
  .container{
    @include resp3
  }
}

/* 5.1 - _hardware */
@media(max-width: 966px) {
  #necessary{
    flex-direction: column-reverse;
  }
}

@media(max-width: 630px) {
  #necessary>div>div>h3{
    font-size: 20px;
  }
  #appareils-resp {
    @include appareils-resp
  }
}

@media(max-width: 412px) {
  #necessary>div>div>h3{
    font-size: 15px;
  }
  #appareils-resp {
    @include appareils-resp
  }
}

/* 6.0 - Global - Couleur de chaque box */
.box-1{
  background: $color1;
}

.box-2{
  background: $color2;
}

.box-3{
  background: $color3;
}

.box-4{
  background: $color4;
}

.box-5{
  background: $color5;
}

.box-6{
  background: $color1;
}

/* 7.0 - Global - Style du texte */
.bold_txt {
@include bold
}

.medium_txt{
  @include medium
}

.reg_txt {
@include reg
}

/* 8.0 - _Index - Position du logo */
#logo{
  padding-left: 9%;
  padding-top: 7%;
  padding-bottom: 5%;
  display: flex;
}

/* 9.0 - Global - Position du contenu des box */
.box_contents {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20%;
  transform: translateY(10%);

}

/* 10.0 - Global - Taille des images */
.box_contents>img{
  max-width:75%;
  max-height:75%;
}

/* 11.0 - _Index - Style du nav */
#navigation{
@include r_list;
}

#navigation li a
{
  @include hyperlink;
  @include nav;
  @include bold;
}

.hyperlink_removed{
  @include hyperlink;
}

.hyperlink_source{
  @include hyperlink_source;
  @include reg
}


/* 12.0 - _Index - Couleur du texte hover */
#navigation li:hover a{
  color: $color2;

}

/* 13.0 - Global - Couleur de chaque texte et positionnement */
.color-1{
  color: $color1;
}

.color-2{
  color: $color2;
}

.color-3{
  color: $color3;
}

.color-4{
  color: $color4;
}

.color-5{
  color: $color5;
}

.color-6{
  color: $color6;
}

.color-7{
  color: $color7;
}

.vertical-right{
  @include vertical-right
}

.vertical-left{
  @include vertical-left
}

.vertical-line {
  border-left: 2px solid black;
}