@import "layout";
@import "pfont";
@import "button";
@import "slide_nav";
$color1: #FFFFFF;
$color2: #ee4323;
$color3: #5b53a2;
$color4: #f6c343;
$color5: #160F66;
$color6: #000;

/* 3.0 - Global - Retirer les bordures sur les containers */
body{
  margin: 0;
}

/* 4.0 - Global - Création du layout pour les container */
.container{
  @include container
}
.container div{
  flex: 1;
}

/* 5.0 - Global - Responsive pour tablette et smartphone */
@media(max-width: 966px) {
  .container{
    @include resp
  }
}

@media(max-width: 474px) {
  .container{
    @include resp2
  }
}

@media(max-width: 368px) {
  .container{
    @include resp3
  }
}

/* 6.0 - Global - Couleur de chaque box */
.box-1{
  background: $color1;
}

.box-2{
  background: $color2;
}

.box-3{
  background: $color3;
}

.box-4{
  background: $color4;
}

.box-5{
  background: $color5;
}

.box-6{
  background: $color1;
}

/* 7.0 - Global - Style du texte */
.bold_txt {
@include bold
}

.reg_txt {
@include reg
}

/* 8.0 - _Index - Position du logo */
#logo{
  padding-left: 9%;
  padding-top: 7%;
  padding-bottom: 5%;
  display: flex;
}

/* 9.0 - Global - Position du contenu des box */
.box_contents {
  padding-left: 10%;
  padding-bottom: 20%;
  transform: translateY(10%);

}

/* 10.0 - Global - Taille des images */
.box_contents>img{
  max-width:75%;
  max-height:75%;
}

/* 11.0 - _Index - Style du nav */
#navigation{
@include r_list;
}

#navigation li a
{
  @include hyperlink;
  @include nav;
  @include bold;
}

.hyperlink_removed{
  @include hyperlink;
  @include bold;
}


/* 12.0 - _Index - Couleur du texte dans la 1ère box */
#menu {
  color: $color4;
}

#navigation li:hover a{
  color: $color2;

}

#title{
  color: $color6;
}

/* 13.0 - Global - Couleur de chaque texte et positionnement */
/* 13.1 - _Index */
#vertical-google, #vertical-echo, #vertical-siri{
  @include vertical-right;
  color: $color1;
}

#vertical-deep{
  @include vertical-left;
  color: $color4;
}

#horizontal-deep{
  color: $color1;
}

#horizontal-echo{
  color: $color2;
}

#horizontal-siri, #horizontal-google{
  color: $color4;
}

/* 13.2 - _Hardware */
#vertical-microphone{
  @include vertical-left;
  color: #f6c343;
}

#vertical-speaker{
  @include vertical-right;
  color: #5b53a2;
}